body{
     background-color:#FFC4C4;
     color:#FFF;
     width:100%;
     font-family:sans-serif;
     margin:0 auto;
 }

.header{
     width:90%;
     margin:auto;
     height:120px;
     line-height:120px;
     background:#850E35;
     color:#fff;
}

.jarak{
     padding:0 2pc;
}

.menu{
     background-color:#EE6983;
     height:50px;
     line-height:50px;
     position:relative;
     width:90%;
     margin:0 auto;
     padding:0 auto;
}

